body {
  background-image: url(https://cdn.pixabay.com/photo/2022/12/02/03/30/sky-7630185_1280.png);
  background-position-y: -290px;
  background-size: 100%;
  font-family: "Nunito", Arial;
  color: rgba(0, 0, 0, 0.81);
}

#container {
  background: linear-gradient(
    140.2deg,
    #a081ce 10.5%,
    rgb(255, 180, 239) 67.7%
  );
  display: block;
  height: 70vb;
  width: 650px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 40px;
}
#header {
  background-color: #f9cde6be;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
#search-input {
  font-size: 16px;
  padding: 10px;
  margin-left: 30px;
  background-color: #8b43781e;
  width: 430px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#search-input:hover {
  background-color: #642f592f;
}
#search-button {
  font-size: 16px;
  background-color: #a45c90d5;
  color: rgb(239, 224, 229);
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.5px;
}
#search-button:hover {
  background-color: #cc8ab9f7;
  transition: ease-in-out 250ms;
  color: #37092d;
}
/* main body styles */
#main-container {
  display: flex;
  justify-content: space-between;
}
.city-details {
  width: 45%;
  text-align: left;
  border-radius: 40px;
  margin-left: 20px;
  padding-left: 40px;
}
.city-name {
  font-size: 35px;
  text-align: left;
}
.time {
  font-size: 17px;
}
.current-time {
  font-size: 17px;
}
.weather-condition {
  font-size: 17px;
}
.humidity-percent {
  color: #e13778;
}
.wind-speed {
  color: #e13778;
}

/* TEMPERATURE */
.city-temp {
  width: 40%;
  margin-right: 15px;
  height: 150px;
  text-align: center;
}
.icon img {
  width: 80px;
  position: relative;
  top: 45px;
  height: 90px;
}
.current-temperature {
  font-size: 65px;
  position: relative;
  top: 20px;
}
.weather-app-unit {
  font-size: 33px;
  position: relative;
  top: -4px;
}

/* FORECAST */
.forecast-container {
  margin: 25px;
}
.forecast {
  display: flex;
  justify-content: space-around;
  height: 130px;
  text-align: center;
}
.forecast-date {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  background-color: #37092d10;
  width: 80px;
  padding-top: 10px;
  border-radius: 15px;
}
.forecast-icon {
  width: 55px;
  display: block;
  margin: 0 auto;
  height: 70px;
}
img {
  width: 60px;
}
.forecast-temperatures {
  display: flex;
  gap: 6px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  color: #e13778;
}

#footer-info {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14px;
  padding-top: 5px;
}
